<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="JM_StoreLocator::StoreLocator" sortOrder="10" title="StoreLocator">
					<resource id="JM_StoreLocator::StoreLocator_save" sortOrder="10" title="Save StoreLocator"/>
					<resource id="JM_StoreLocator::StoreLocator_delete" sortOrder="20" title="Delete StoreLocator"/>
					<resource id="JM_StoreLocator::StoreLocator_update" sortOrder="30" title="Update StoreLocator"/>
					<resource id="JM_StoreLocator::StoreLocator_view" sortOrder="40" title="View StoreLocator"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
